.HomeContainer{
    height: 95vh;
    width: 100vw;
    border-radius: 0px 7px;
    margin: 0px vw;
}

.ContainerElement {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ImgContainer{
    width: 7%;
    height: 5%;
}
